
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 20px;
}
.header .about{
  -top: 10px;
  height: 350px;
  width: 97%;
  margin: auto;
  background-image: url(../../assets/ba.jpg);
  background-size: cover;
}
section{
  height: auto;
  width: 100%;
  margin-top: 210px;
}