.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer .title {
    font-size: large;
    font-weight: bold;
}

.footer .service{
    display: flex;
    flex-direction: column;
}

.footer .societe{
    display: flex;
    flex-direction: column;
}